@import "tailwindcss";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/700.css";

@theme {
  --color-dark-gray: #25252e;
  --color-red: #e10600;
  --color-dark-red: #b00500;
  --color-off-white: #f5f5f5;
  --color-light-gray: #e0dedc;
}

:root {
  --font-sans: "Montserrat", sans-serif;
}

body {
  @apply bg-white;
}
