@import "tailwindcss";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/700.css";

@theme {
  --color-light-yellow: #fff3de;
  --color-jeans-blue: #7ba0b1;
  --color-orange: #ff9600;
  --color-light-gray: #cecece;
}

:root {
  --font-sans: "Montserrat", sans-serif;
}
